<div class="min-h-screen flex items-center justify-center bg-gradient-to-br from-[#fff8ec] via-[#eaf7ff] to-[#eef4ff] px-4">
    <div *ngIf="!examStarted">
        <div class="flex flex-col items-center gap-6 p-6">
        <h1 class="text-2xl font-semibold text-center">Category</h1>

        <!-- Categories -->
        <div class="flex flex-wrap justify-center gap-4">
            <div
            *ngFor="let category of categories"
            (click)="selectCategory(category.id)"
            [class.border-blue-500]="selectedCategoryId === category.id"
            [class.ring-2]="selectedCategoryId === category.id"
            [class.ring-blue-400]="selectedCategoryId === category.id"
            class="flex flex-col items-center bg-white rounded-xl p-3 w-24 h-28 shadow-sm
                    hover:shadow-lg hover:-translate-y-1 transition-all duration-200 cursor-pointer border"
            >
            <img
                [src]="'assets/svgs/categories/' + category.id + '.svg'"
                [alt]="category.label"
                class="w-10 h-10"
            />

            <span class="text-xs text-center mt-2 leading-tight">
                {{ category.label }}
            </span>

            <span
                *ngIf="category.isNew"
                class="text-[10px] bg-green-500 text-white px-1 rounded mt-1"
            >
                NEW
            </span>
            </div>
        </div>

        <h1 class="text-2xl font-semibold text-center">Language</h1>

        <div class="mb-4">
            <select
            class="px-3 py-2 border rounded shadow-sm text-sm bg-white"
            [(ngModel)]="selectedLanguage"
            >
            <option value="en">English</option>
            <option value="ka">ქართული</option>
            </select>
        </div>

        <!-- Start Exam Button -->
        <button
            class="mt-6 bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-6 rounded shadow"
            (click)="startExam()"
        >
            Start Exam
        </button>
        </div>
    </div>

    <!-- QUESITONS -->
    <div *ngIf="examStarted" class="space-y-6 text-center">
        <div *ngIf="questionsLoading">
            <div class="inline-block animate-spin rounded-full h-8 w-8 border-t-2 border-b-2 border-blue-500 mb-2"></div>
            <p>Loading questions...</p>
        </div>

        <div *ngIf="!questionsLoading && questions.length > 0">
        <div class="mb-6 p-4 bg-white rounded shadow">
            <p class="font-semibold mb-2">
            
            Question
            <input
                type="number"
                [(ngModel)]="jumpToIndex"
                [min]="1"
                [max]="questions.length"
                class="w-6 h-6 no-spinner placeholder-style text-center border-b-2 border-blue-300 focus:outline-none focus:border-blue-500"
                placeholder="{{currentQuestionIndex + 1}}"
            />  of {{ questions.length }}
            <button
                (click)="jumpToQuestion()"
                class="bg-blue-500 hover:bg-blue-600 text-white px-3 py-1 rounded text-sm"
            >
                Go
            </button>
            </p>
            <div *ngIf="questions[currentQuestionIndex].image !== null" class="flex justify-center my-4">
                <img src="{{questions[currentQuestionIndex].image}}" [alt]="'questionImage ' + currentQuestionIndex"
    class="max-w-2xl max-h-75 object-contain rounded shadow"
>
            </div>
            <p class="mb-4">{{ questions[currentQuestionIndex].questionContent }}</p>

            <div *ngFor="let answer of questions[currentQuestionIndex].answers" class="mb-1">
            <label class="flex items-center space-x-2">
                <input
                type="radio"
                [name]="'question-' + questions[currentQuestionIndex].id"
                [value]="answer.id"
                [checked]="selectedAnswers[questions[currentQuestionIndex].id] === answer.id"
                (change)="selectAnswer(questions[currentQuestionIndex].id, answer.id)"
                />
                <span>{{ answer.text }}</span>
            </label>
            </div>

            <div class="flex justify-between mt-4">
                <button
                (click)="prevQuestion()"
                [disabled]="currentQuestionIndex === 0"
                class="bg-gray-400 hover:bg-gray-500 text-white py-2 px-4 rounded disabled:opacity-50"
                >
                Back
                </button>

                <button
                (click)="nextQuestion()"
                [disabled]="currentQuestionIndex === questions.length - 1"
                class="bg-blue-600 hover:bg-blue-700 text-white py-2 px-4 rounded disabled:opacity-50"
                >
                Next
                </button>

                <div *ngIf="currentQuestionIndex === 29">
                    <button
                    (click)="submit()"
                    class="bg-red-600 hover:bg-red-700 text-white py-2 px-4 rounded disabled:opacity-50"
                    >
                    submit
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>